body{
    background-color: #F8EACA;
}

h1{
    border: solid;
    border-color:#9B6BC9 ;
    padding: 30px;
    color:#9B6BC9;
    font-family:verdana;
    font-size:300%;
}

p{
    color: #9B6BC9;
}

h2{
    border: solid;
    border-color:#9B6BC9 ;
    padding: 30px;
    color:#9B6BC9;
    font-family:verdana;
    font-size:150%;
    
}

body .img1{
    max-width: 50%;
    height: auto;
    border: solid;
    border-color: #9B6BC9;
}

body .img2{
    max-width: 50%;
    height: auto;
    border: solid;
    border-color: #9B6BC9;
}

body .img3{
    max-width: 50%;
    height: auto;
    border: solid;
    border-color: #9B6BC9;
}

body .img4{
    max-width: 50%;
    height: auto;
    border: solid;
    border-color: #9B6BC9;
}